:root {
  --darkPetrol: #002627;
  --maroon: #32050e;
  --turqouise: #85cccf;
  --vanilla: #fcf4d9;
  --rust: #d55b3e;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-color: var(--turqouise);
  color: #000;
  font-family: "Inter";
  width: 100vw;
}

h1,
h2,
h3 {
  color: var(--darkPetrol);
  display: flex;
  justify-content: center;
}

/* -------------------------------------------------- HEADER + TITLE ------------------------------------------------- */

header {
  align-items: center;
  background-color: var(--turqouise);
  border-bottom: 5px solid var(--maroon); // OBS! Ändra! Men skapa snyggare övergång mellan header och innehåll när man scrollar?
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 15vh;
  justify-content: center;
  width: 100%;
  padding: 15px 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  .material-symbols-outlined {
    font-size: 2.2rem;
  }

  h1 {
    font-family: "Love ya like a sister"; //Byta font? Övertyga Tea?
    font-size: 3.7rem;
    margin: 15px 25px 5px 25px;
  }

  .title {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .slogan {
    display: flex;
    font-style: italic;
  }
}

/* -------------------------------------------------- PAGE 1 ------------------------------------------------- */

.description {
  color: #000;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  margin: 15px 0 15px 0;
  position: relative;
  text-align: center;
  .background-img {
    width: 100%;
  }
  .descriptionText {
    background-color: rgb(252, 244, 217, 0.8);
    border-radius: 10px;
    left: 20px;
    padding: 15px 15px;
    position: absolute;
    width: 45%;
  }
}

h2 {
  color: var(--darkPetrol);
  font-size: 2.3rem;
}

h3 {
  color: var(--darkPetrol);
  font-family: "Love ya like a sister"; //Byta font? Övertyga Tea?
  font-size: 2.7rem;
  letter-spacing: 3px;
  margin: 40px 0 5px 0;
  /*text-transform: uppercase;*/
}

.teacups {
  display: flex;
  flex-direction: column;
  align-items: center;
  .rating {
    font-size: 1.5rem;
  }
  .img-containers {
    border: 10px solid #fff;
    filter: drop-shadow(2px 2px 5px #000);
    margin: 10px 25px;
    img {
      height: 70vw;
      width: 70vw;
      max-height: 400px;
      max-width: 400px;
    }
  }
  .price {
    font-size: 1.8rem;
    margin: 0 0 10px 0;
  }
  .buttons button {
    font-size: 1.5rem;
    justify-content: center;
  }
}

#sort {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 10px 0;
  }
  .sortBtns button {
    background-color: var(--turqouise);
    border: none;
  }
}

// Lägg till tydligare övergångar mellan varorna! Vilket pris och vilka knappar hör till vilken vara? Behöver vara tydligare!

/* -------------------------------------------------- BUTTONS ------------------------------------------------- */

/* ------------------------------------------------ PLUS/MINUS BTNS ----------------------------------------------- */

.chosenAmount {
  max-width: 50px;
  margin: 0 0 10px 0;
}

/* -------------------------------------------------- CART ------------------------------------------------- */
.currentOrder {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  align-items: baseline;
  .cartProductName,
  .cartProductAmount,
  .cartProductPrice {
    margin: 10px 0 10px 0;
  }
  .cartProductName {
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}

/* -------------------------------------------------- FORM ------------------------------------------------- */

form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 0;
  width: 100vw;
  label {
    align-items: center;
    color: var(--maroon);
    display: flex;
    /*font-family: "Love ya like a sister";*/
    font-size: 1.3rem;
    margin-bottom: 10px;
    input {
      border-radius: 8px;
      display: flex;
      /*font-family: "Inter";*/
      font-size: 1rem;
      margin-left: 10px;
      max-width: 150px;
      padding: 3px 10px;
    }
  }
}
