body {
  background-color: orange;

  .teacups {
    display: flex;
  }
  #teacup-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

// Ändra välkomsttexten i tablet och desktop?
